<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if not id %}
        <H1>States</H1>
        <UL>
            {% for state in list_states.values() | sort(attribute='name') %}
            <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
            {% endfor %}   
        </UL>
        {% elif id in list_states %}
        {% set state = list_states[id] %}
        <H1>State: {{state.name}}</H1>
            <UL>
                {% for cities in state.cities %}
                <LI>{{ cities.id }}: <B>{{ cities.name }}</B></LI>
                {% endfor %}
            </UL>
        {% else %}
        <H1>Not found</H1>
        {% endif %}
    </BODY>
</HTML>
